@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Brand */
    --brand-purple: #5B21B6;
    --primary-purple: #6D28D9;

    /* Estrutura */
    --primary-slate: #0F172A;
    --neutral-900: #1E293B;
    --neutral-800: #334155;
    --neutral-500: #64748B;
    --neutral-100: #F1F5F9;
    --white: #FFFFFF;

    /* Acentos */
    --accent-cyan: #06B6D4;
    --accent-green: #10B981;
  }
}
